# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET NuGet Release

on:
  create:
    tags:
    - 'v*'

jobs:
  build:
    environment: NuGet
    runs-on: ubuntu-latest

    env:
      Solution_Name: Scintilla.NET.Abstractions.sln
      App_Project_Directory: Scintilla.NET.Abstractions
      App_Project_Path: Scintilla.NET.Abstractions\Scintilla.NET.Abstractions.csproj
      NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
      NUGETAPI: ${{ secrets.NUGETAPI }}      
      GH_PACKAGES_APIKEY: ${{ secrets.GH_PACKAGES_APIKEY }}
      PACKAGESAPI: ${{ secrets.PACKAGESAPI }}
      NUGETCONFIG: ${{ secrets.NUGETCONFIG }}

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release       
    - name: Decode nuget.config
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        nuget_config_bytes=`echo $NUGETCONFIG | base64 --decode`
        currentDirectory=`pwd`
        nugetConfigFile="$currentDirectory/nuget.config"
        echo "$nuget_config_bytes" > $nugetConfigFile
    - name: NuGet push
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        currentDirectory=`pwd`
        
        for i in $currentDirectory/*Scintilla.NET*.nupkg; do
            nuget push $i $NUGET_APIKEY -Source $NUGETAPI -SkipDuplicate
            
            nuget push $i $GH_PACKAGES_APIKEY -Source $PACKAGESAPI -SkipDuplicate
        done
